@import '../../../../scss/variables';
@import '../../../../scss/mixins';
@import '../../../../scss/themes';

.Review {
  @include theme {
    background-color: t('cardBackgroundColor');
  }
  height: calc(100vh - 60px);

  &_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10vh 0;
    @include breakpoint(md) {
      flex-direction: column-reverse;
    }
  }

  &_problems {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 8px;
    overflow: auto;
    max-height: 320px;
    margin: 32px 0 48px 0;
    width: 360px;

    @include breakpoint(sm) {
      width: auto;
    }
  }

  &_cody {
    width: 380px;
    transform: scaleX(-1);
    margin: 0 0 24px 0;

    @include breakpoint(md) {
      width: 120px;
    }
  }

  &_buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;

    @include breakpoint(sm) {
      grid-template-columns: auto;
      grid-template-rows: auto auto;
    }
  }
}
