@import '../../../scss/mixins';

.GlossaryCard {
  display: grid;
  grid-template-columns: 176px auto;
  padding: 12px 48px;
  min-height: 72px;
  grid-gap: 16px;

  @include breakpoint(sm) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding: 24px;
  }

  &_title {
    align-self: center;
  }

  &_content {
    display: flex;
    flex-wrap: wrap;
    align-self: center;

    &_code {
      margin: 2px 4px;
      width: max-content;
      overflow: auto;
    }
  }

  &_description {
    padding: 7px;
  }
}
