@import '../../../../scss/variables';
@import '../../../../scss/mixins';
@import '../../../../scss/themes';

.ProblemCardSmall {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 24px;

  &_title {
    display: flex;
    align-items: center;
  }

  &_tags {
    margin: 0 0 0 16px;

    @include breakpoint(sm) {
      display: none;
    }
  }

  &_badge {
    @include breakpoint(sm) {
      display: none;
    }
  }

  &_score {
    padding: 0 24px 0 0;
    margin: 0 24px 0 0;
    border-right: 1px solid;
    @include theme {
      border-color: t('borderColor');
    }
  }
}
