@import '../../../scss/animations';
@import '../../../scss/variables';
@import '../../../scss/themes';

.Shine {
  height: 10px;
  width: 100%;
  border-radius: 16px;

  @include theme {
    background-color: t('shineBackgroundColor');
    background-image: t('shineBackgroundImage');
  }
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}
