.StudentContainer {
  padding: 60px 0 0 0;
  display: flex;

  &_container {
    padding: 0 0 60px 0;
    width: 100%;

    &___lesson {
      width: 100%;
    }
  }

  &_watermark {
    height: auto;
    width: 360px;
    position: fixed;
    right: -100px;
    bottom: -100px;
    z-index: -1;
    opacity: 0.1;
    filter: grayscale(100%);
  }

  &_spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.95);
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &_text {
      margin: 1em 0 0;
    }
  }
}
