@import '../../../../scss/mixins';
@import '../../../../scss/animations';

.PreloaderLarge {
  @include ease(0.4s);
  overflow: hidden;

  &_image {
    width: 100%;
    height: 120px;
    @include image-preloader;
  }

  &_textContainer {
    padding: 16px 24px 24px;
  }

  &_shine {
    margin: 4px 0;
  }
}
