@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.SectionCardLarge {
  overflow: hidden;

  &_image {
    height: 120px;
  }

  &_title {
    @include text-ellipsis;
  }

  &_info {
    padding: 16px 24px 24px;
  }
}
